.body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 70%;
    padding: 0 20px;
}

.body .notes-container,
.body .tasks,
.body .weather,
.body .calender {
    background-color: #111214;
    border-radius: var(--small-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .notes-container {
    grid-column: span 4;
    grid-row: span 2;
    padding: 20px;
    position: relative;
}

.body .notes {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 30%);
    grid-auto-rows: 30%;
    max-height: 100%;
    padding-right: 10px;
    gap: 20px;
}

.body .notes h1 {
    grid-column: span 2;
    grid-row: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--comfortaa), sans-serif;
}

.body .notes-container .add-button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #2c3542;
    color: #b88efc;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body .notes .note-card {
    min-height: calc(100% / 3);
    padding: 10px;
    border-radius: var(--small-radius);
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.body .notes .note-card .note-detail {
    height: 100%;
}

.body .notes .note-card:first-child .note-detail {
    display: flex;
    margin-left: -8px;
}

.body .notes .note-card:first-child .note-detail>.icon {
    height: 100%;
    width: auto;
    transform: rotate(-90deg);
}

.body .notes .note-card .note-detail>.icon {
    height: 50%;
    width: auto;
    transform: rotate(-90deg);
}

.body .notes .note-card:nth-child(5n+1) {
    background-color: rgba(250, 109, 109, 0.75);
}

.body .notes .note-card:nth-child(5n+1)>.icon {
    color: rgba(250, 109, 109);
}

.body .notes .note-card:nth-child(5n+2) {
    background-color: rgba(234, 238, 100, 0.75);
}

body .notes .note-card:nth-child(5n+2)>.icon {
    color: rgba(234, 238, 100);
}

.body .notes .note-card:nth-child(5n+3) {
    background-color: rgba(127, 217, 255, 0.75);
}

.body .notes .note-card:nth-child(5n+3)>.icon {
    color: rgba(127, 217, 255);
}

.body .notes .note-card:nth-child(5n+4) {
    background-color: rgba(151, 121, 238, 0.75);
}

.body .notes .note-card:nth-child(5n+4)>.icon {
    color: rgba(151, 121, 238);
}

.body .notes .note-card:nth-child(5n) {
    background-color: rgba(138, 239, 172, 0.75);
}

.body .notes .note-card:nth-child(5n)>.icon {
    color: rgba(138, 239, 172);
}

.notes .note-card:first-child {
    grid-column: span 2;
}

.note-card:first-child .detail {
    padding-top: 20px;
}

.note-card .detail {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 20px;
    font-family: var(--comfortaa), sans-serif;
}

.note-card .detail h3 {
    font-weight: bold;
    font-size: 35px;
}

.note-card .detail p {
    color: #ddd;
    font-weight: 300;
    font-size: 15px;
}

.note-card .icons {
    height: 100%;
    padding: 20px 20px 20px 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.note-card .icons .icon {
    color: white;
    height: 20px;
    width: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(17, 18, 20, 0.8);
    width: 100%;
    height: 100%;
    border-radius: var(--small-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.note-form,
.note-show {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: #111214;
    width: 500px;
    height: 80%;
    padding: 60px 40px 100px;
    border: 2px solid #b88efc;
    border-radius: var(--medium-radius);
    position: relative;
}

.note-form .close,
.note-show .close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #B88EFC;
    font-size: 30px;
    background-color: transparent;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.note-show {
    color: white;
    font-family: var(--comfortaa), sans-serif;
}

.note-show h1 {
    padding-top: 30px;
    font-size: 50px;
}

.note-show p:first-of-type {
    font-size: 8px;
    color: gray;
}

.note-show p:last-of-type {
    font-size: 20px;
    color: #ddd;
    height: 100%;
    overflow-y: auto;
}

.note-form h1 {
    color: white;
    letter-spacing: 2px;
    font-family: var(--bebas);
}

.note-form input,
.note-form textarea {
    border: none;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, .06);
    border-radius: var(--small-radius);
    caret-color: #b88efc;
    color: #ddd;
    font-size: 20px;
}

.note-form input {
    min-height: 8%;
}

.note-form textarea {
    min-height: 25%;
    background-color: rgba(255, 255, 255, .06);
}

.note-form button {
    margin-top: auto;
    padding: 20px 0;
    border: none;
    border-radius: var(--small-radius);
    background: linear-gradient(to right, #b88efc, #6877f4);
    color: #ddd;
    font-family: var(--comfortaa);
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.note-form button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.note-form p {
    color: red;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 16px;
}

.delete-note-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #111214;
    color: white;
    height: fit-content;
    width: 400px;
    padding: 40px 20px 40px 40px;
    border: 2px solid #b88efc;
    border-radius: var(--medium-radius);
    position: relative;
}

.delete-note-form h1 {
    font-family: var(--kanit), sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 1px;
}

.delete-note-form p {
    font-family: var(--comfortaa), sans-serif;
    font-weight: 100;
    font-size: 8px;
    color: #ddd;
}

.delete-note-form .buttons {
    display: flex;
    justify-content: end;
    column-gap: 20px;
    padding-top: 20px;
}

.delete-note-form .buttons button {
    width: 80px;
    padding: 10px;
    border-radius: var(--small-radius);
    border: none;
    color: white;
    cursor: pointer;
}

.delete-note-form .buttons button a {
    color: white;
    text-decoration: none;
}

.delete-note-form .buttons button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.delete-note-form .buttons .cancel-button {
    background-color: #2c3542;
}

.delete-note-form .buttons .delete-button {
    background-color: red;
}

/* finish notes section */

.body .tasks {
    grid-column: span 3;
    grid-row: span 2;
}

.body .weather {
    grid-column: span 3;
    grid-row: span 1;
}

.body .calender {
    grid-column: span 3;
    grid-row: 1 2;
}